<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<header class="topbar clearfix">
	<div class="logo"><span>饿么</span></div>
		<a href="" class="nav">首页</a>
		<a href="" class="nav">我的订单</a>
		<div href="" class="login">登录/注册
		<div class="dropbox">
			<a href="" class="drop-item">个人中心</a>
			<a href="" class="drop-item">我的收藏</a>
			<a href="" class="drop-item">我的地址</a>
			<a href="" class="drop-item">退出登录</a>
		</div></div>
	</header>
	<div class="map"></div>
	<div class="restaurant-list">
		<ul class="list">
			<li >11</li>
			<li >22</li>
			<li >33</li>
		</ul>
	</div>
</body>
</html>