<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>

<body class="signup">
    <div class="signup-view clearfix">
        <div class="signup-view-large">
            <form action="/" id="new-user" method="post">
                <div>
                    <input autocomplete="off" id="user_name" name="user_name" placeholder="User name" size="30" type="text">
                    <input autocomplete="off" id="user_email" name="user_email" placeholder="Email" size="30" type="email">
                    <input autocomplete="off" class="strong-password" id="user_password" name="user_password" placeholder="Password" size="30" type="password">
                    <input autocomplete="off" class="" id="user_phone" name="user_phone" placeholder="Mobile phone" size="30" type="text">
                    <input autocomplete="off" class="" id="user_address" name="user_address" placeholder="Address" size="30" type="text">
                </div>
                <input class="signup_button-btn" data-disable-with="Creating Account..." id="signup_button" name="commit" type="submit" value="Sign Up">
            </form>
        </div>
        <div class="signup-view-small">
            写点东西XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            <a href="">log in</a>
        </div>
    </div>
</body>

<script src="sss.js"></script>
</html>
